.example-card {
  margin: 20px;
  background-color: #ffffffb5;
  color: rgb(0, 0, 0);

}

.albuns {
  padding: 20px;
  margin-left: 20px;
  /* max-width: 520px; */
  background-color: #e6e6e6b5;
  box-shadow: 1px 10px 10px 10px rgb(218, 218, 218);
  color: rgb(0, 0, 0);
}

.links{
  padding: 10px;
  cursor: pointer;
}

