<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span routerLink="/">My Social </span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button routerLink="/" mat-menu-item>
          <mat-icon>home</mat-icon>
          <span >Home</span>
        </button>
        <button  routerLink="/to-do" mat-menu-item>
          <mat-icon>add_alert</mat-icon>
          <span>To-do List</span>
        </button>
        <button routerLink="/album" mat-menu-item>
          <mat-icon>add_to_photos</mat-icon>
          <span >Albuns</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
